<p id="notice"><%= notice %></p>

<h1>Firewalls</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Port</th>
      <th>Destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @firewalls.each do |firewall| %>
      <tr>
        <td><%= firewall.source %></td>
        <td><%= firewall.port %></td>
        <td><%= firewall.destination %></td>
        <td><%= link_to 'Show', firewall %></td>
        <td><%= link_to 'Edit', edit_firewall_path(firewall) %></td>
        <td><%= link_to 'Destroy', firewall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Firewall', new_firewall_path %>
