<h1>Ipdatabases#index</h1>
<p>Find me in app/views/ipdatabases/index.html.erb</p>

<table>
    <thead>
      <tr>
        <th>IP Address</th>
        <th>Server Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @ip_address.each do |ip| %>
        <tr>
          <td><%= ip.ip_address %></td>
          <td><%= ip.server_name %></td>
          <td><%= link_to 'Show', ip %></td>
          <td><%= link_to 'Edit', edit_ipdatabase_path(ip) %></td>
          <td><%= link_to 'Destroy', ip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  